<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleFileSortingWPF.settings.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleFileSortingWPF.settings.w_appsetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SimpleFileSortingWPF.settings.AppSettings>
            <setting name="DelPathOnSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludePathOnAdd" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleFileSortingWPF.settings.AppSettings>
    </applicationSettings>
    <userSettings>
        <SimpleFileSortingWPF.settings.w_appsetting>
            <setting name="DelPathOnSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludePathOnAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFormat" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>yyyy-MM</string>
                        <string>yy-MM</string>
                        <string>MM-yyyy</string>
                        <string>MM-yy</string>
                        <string>yyyy</string>
                        <string>MMMM-yyyy</string>
                        <string>yyyy-MMMM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SelectedDateFormat" serializeAs="String">
                <value />
            </setting>
        </SimpleFileSortingWPF.settings.w_appsetting>
    </userSettings>
</configuration>